body{
	font-family: 'Montserrat', sans-serif;
}

header {
	
	width: 20%;
	float: center;
}

.caixa {
	
	width: 940px;
	margin: 0 auto;	
}

.caixa h1{
	text-align: right;
}

nav {
	position: absolute;
	display: inline;
	top: 200px;
	right: 43%;
	margin: 0.5em 0 2em;
	
	
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
	
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: green;
	text-decoration:transparent;
}

.principal{
	margin: 1em 0 0 0;
}


footer {
	text-align: center;
	background: green;
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main{
	width: 940px;
	margin: 0 auto;
}


.banner{
	width: 100%;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 1em 0 1em;
	clear: left; 
}

.principal p{
	margin: 0 0 1em;
	text-align: justify;

}

.container{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0
}


 fieldset select{
	 display: inline;
 }

 .enviar{
    width: 10%;
	padding: 15px 0;
	margin-bottom: 10px;
	background: orange;;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	transition: 1s;
	}

